body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #EDF1F9;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar {
  width: 3rem;
  height: 3rem;
  font-size: .765625rem;
}

a {
  text-decoration: none;
}

.containerInputs{

  width: 300px;
  display: flex;
  flex-direction: column;

  justify-content: center;


 
}

.inputForm{
margin: 7px;
padding: 5px;
height: 50px;
}

.boton{
  width: 90px;
  height: 40px;
  border-radius: 25px;
  
}